<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">MyDiploma</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/publications/">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="/add/">Add Post</a></li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item"><span class="nav-link">Hi, {{ user.username }}</span></li>
          <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/register/">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
